.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.card {
    background-color: #80cb70;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 10px 10px #7b7974fd;
}

.title {
    margin-bottom: 2rem;
    font-family: var(--font-indie);
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inputGroup input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--font-comic);
}

.button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-primary-dark);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px #2e7930;
}

.button:hover {
    background-color: #256327;
    transform: translate(1px, 1px);
    box-shadow: 1px 1px #2e7930;
}

.error {
    color: #ffcccc;
    text-align: center;
    font-weight: bold;
}

.link {
    margin-top: 1.5rem;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: #f0f0f0;
}