.container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.card {
    background-color: #80cb70;
    border: 3px solid #6ba95d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    box-shadow: 10px 10px #7b7974fd;
    color: aliceblue;
}

.title {
    font-family: var(--font-indie);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textarea {
    width: 100%;
    padding: 1rem;
    border: 3px solid #6ba95d;
    border-radius: 10px;
    background-color: #dff7d6;
    color: rgb(49, 129, 44);
    font-family: var(--font-comic);
    font-size: 1rem;
    resize: vertical;
}

.textarea:focus {
    outline: none;
    border: 4px dotted #6ba95d;
}

.charCountContainer {
    display: flex;
    justify-content: flex-end;
}

.button {
    padding: 0.75rem;
    background-color: var(--color-primary-dark);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;
    box-shadow: 3px 3px #2e7930;
    margin-top: 1rem;
}

.button:hover {
    background-color: #256327;
    transform: translate(1px, 1px);
    box-shadow: 1px 1px #2e7930;
}

.success {
    color: #e6fffa;
    background-color: #2e7930;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.error {
    color: #ffcccc;
    background-color: #c53030;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}