:root {
  --color-primary: #67ad2e;
  --color-primary-dark: #2e7930;
  --color-secondary: #7b7974fd;
  --color-secondary-dark: #5b5a5afd;
  --color-background: #f3eff5;
  --color-text: #454955;
  --color-text-dark: #0d0a0b;
  --font-comic: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  --font-indie: 'Indie Flower', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-comic);
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}