.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary-dark);
    font-family: var(--font-indie);
    font-size: 2.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.noJokes {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.createButton {
    background-color: var(--color-primary);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s;
    box-shadow: 3px 3px #2e7930;
}

.createButton:hover {
    background-color: var(--color-primary-dark);
    transform: translate(1px, 1px);
    box-shadow: 1px 1px #2e7930;
}