.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    /* Hidden by default */
    width: 250px;
    height: 100vh;
    background-color: var(--color-primary-dark);
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.sidebar.open {
    left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    text-align: center;
    font-family: var(--font-indie);
    font-weight: bold;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
}

.toggleButton {
    position: absolute;
    top: 1rem;
    right: -50px;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}